header {
    text-align: center;
}
body {
    background-color: rgb(114, 71, 128);
}
main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-board{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 20px;
    margin: 30px;
}
.square {
    height: 100px;
    width: 100px;
    background-color: white;
}
button {
    background-color: rgb(171, 241, 226);
    font-size: 20px;
  }